; Supabase Database
DB_HOST=#host
DB_PORT=#port
DB_NAME=#postgres
DB_USER=#postgres.user
DB_PASSWORD=#password

; app state
APP_ENV=#development/production
ALLOWED_ORIGIN=#https://yourwebsite.tld

; Supabase Storage Configuration
SUPABASE_URL=#https://user.supabase.co
SUPABASE_KEY=#ur key
SUPABASE_STORAGE_BUCKET=#cvs

