# sqlite
*.sqlite

# other
other-resources/
.rules

# environment variables
.env

# node
node_modules/

# zip files
*.zip

# bundled css/js
public/assets/dist/js/*.min.js
public/assets/dist/css/*.min.css